body {
	background: whitesmoke;
}

ul {
	list-style: none;
}

.main {
	background: silver;
	height: 100vh;
	margin: 0 auto;
	padding-top: 10px;
}

.empty {
	width: fit-content;
	margin: 20px auto 0 auto;
	padding: 20px;
	border-radius: 5px;
	font-size: larger;
	background-color: whitesmoke;
	font-weight: 600;
}
